Repository marecica2/dwh-datacube: changes, and which Codecov flags are due for each by the changed paths.
All: java, react-app

codecov.yml:

coverage:
  status:
    project:
      target: 90%
      threshold: 5%
    java:
      flags: java
      target: 70%
    projectB:
      target: 70%
      flags: react-app
flags:
  java:
    paths:
      - common/src/main
      - importer/src/main
      - migrator/src/main
  react-app:
    paths:
      - react-app/src

DWH-16: Codecov flags
  .travis.yml
Due: none

DWH-16: Codecov flags
  .travis.yml
  codecov.yml
Due: none

DWH-16: Codecov flags
  react-app/jest/jest.config.js
  react-app/package.json
  react-app/yarn.lock
Due: none

DWH-16: Add import tests
  README.md
  react-app/jest/eventSourceMock.js
  react-app/jest/jest.config.js
  react-app/jest/setup.js
  react-app/package.json
  react-app/src/components/common/import/FileUpload.js
  react-app/src/components/common/import/FileUpload.spec.js
  react-app/src/components/common/import/Import.spec.js
  react-app/src/components/common/import/MappingStep.js
  react-app/src/components/context/AppContext.js
  react-app/yarn.lock
Due: react-app

DWH-16: Add more import tests
  react-app/src/components/common/import/ConfigStep.js
  react-app/src/components/common/import/FileUploadStep.js
  react-app/src/components/common/import/Import.spec.js
  react-app/src/components/common/import/MappingStep.js
  react-app/src/components/common/import/PreviewStep.js
Due: react-app

DWH-17: Gitlab CI
  .gitlab-ci.yml
Due: none

DWH-17: Gitlab CI
  .dev/script
  .env.ci.gitlab
  .gitlab-ci.yml
  common/src/main/java/org/bmsource/dwh/common/BaseFact.java
  common/src/main/java/org/bmsource/dwh/common/job/JobConfiguration.java
  common/src/main/java/org/bmsource/dwh/common/utils/BeanUtils.java
  common/src/test/java/org/bmsource/dwh/common/BaseFactTest.java
  docker-compose.yml
  importer/src/main/java/org/bmsource/dwh/ImporterAppConfiguration.java
  importer/src/main/java/org/bmsource/dwh/ImporterApplication.java
  importer/src/main/java/org/bmsource/dwh/charts/ChartsConfiguration.java
  importer/src/main/java/org/bmsource/dwh/domain/RepositoryConfiguration.java
  importer/src/main/java/org/bmsource/dwh/importer/ImporterConfiguration.java
  importer/src/main/java/org/bmsource/dwh/importer/web/MappingResponse.java
  importer/src/main/java/org/bmsource/dwh/masterdata/MasterDataConfiguration.java
  importer/src/main/java/org/bmsource/dwh/masterdata/MasterDataRepositoryConfiguration.java
  importer/src/main/java/org/bmsource/dwh/masterdata/repository/RateCardRepository.java
  importer/src/main/java/org/bmsource/dwh/masterdata/repository/ServiceTypeMappingRepository.java
  importer/src/main/java/org/bmsource/dwh/masterdata/repository/TaxonomyRepository.java
  importer/src/main/java/org/bmsource/dwh/masterdata/repository/ZipCodeLocationRepository.java
  importer/src/main/resources/application.yml
  importer/src/main/resources/logback.xml
  importer/src/test/java/org/bmsource/dwh/IntegrationTestUtils.java
  importer/src/test/java/org/bmsource/dwh/charts/ChartControllerIT.java
  importer/src/test/java/org/bmsource/dwh/charts/QueryGeneratorTest.java
  importer/src/test/java/org/bmsource/dwh/importer/web/ImportControllerIT.java
  importer/src/test/java/org/bmsource/dwh/masterdata/web/MasterDataControllerTest.java
  importer/src/test/resources/batch_clean_up.sql
  importer/src/test/resources/spends.sql
Due: java

DWH-17: Multitenancy
  .aws/cloudformation.yaml
  .dev/nginx.conf
  .dev/nginx.local.conf
  .gitignore
  common/src/main/java/org/bmsource/dwh/common/appstate/AppStateConfiguration.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/Constants.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/EnableMultitenancy.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/MultitenancyHibernateConfig.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/Tenant.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantConnectionProvider.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantContext.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantInterceptor.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantRepository.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantRepositoryImpl.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantSchemaResolver.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/WebMvcConfig.java
  common/src/main/java/org/bmsource/dwh/common/portal/TenantRepository.java
  common/src/main/java/org/bmsource/dwh/common/utils/TestUtils.java
  common/src/main/resources/logback.xml
  common/src/test/java/org/bmsource/dwh/common/multitenancy/MultitenancyIT.java
  common/src/test/java/org/bmsource/dwh/common/multitenancy/app/Person.java
  common/src/test/java/org/bmsource/dwh/common/multitenancy/app/PersonRepository.java
  common/src/test/java/org/bmsource/dwh/common/multitenancy/app/TestApplication.java
  common/src/test/java/org/bmsource/dwh/common/multitenancy/app/TestController.java
  importer/pom.xml
  importer/src/main/java/org/bmsource/dwh/ImporterApplication.java
  importer/src/main/resources/application.yml
  migrator/pom.xml
  migrator/src/main/java/org/bmsource/dwh/Migrator.java
  multitenancy/src/main/java/org/bmsource/dwh/schemas/database/repositories/TenantRepository.java
Due: java

DWH-17: Multitenancy using datasources
  common/src/main/java/org/bmsource/dwh/common/job/JdbcJobRepository.java
  common/src/main/java/org/bmsource/dwh/common/job/JobConfiguration.java
  common/src/main/java/org/bmsource/dwh/common/job/step/importer/ImportStepConfiguration.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/Constants.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/Multitenancy.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/MultitenancyHibernateConfig.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantConnectionProvider.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantContext.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantSchemaResolver.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/WebMvcConfig.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/MultitenancyConfiguration.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/MultitenancyExceptionHandler.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/MultitenantDataSource.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/TenantContextInterceptor.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/concurrent/ContextAwareCallable.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/concurrent/ContextAwarePoolExecutor.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/concurrent/ContextAwareRunnable.java
  common/src/main/java/org/bmsource/dwh/common/portal/TenantRepository.java
  common/src/main/java/org/bmsource/dwh/common/portal/TenantRepositoryImpl.java
  common/src/test/resources/application.yml
  importer/src/main/java/org/bmsource/dwh/ImporterAppConfiguration.java
  importer/src/main/java/org/bmsource/dwh/ImporterApplication.java
  importer/src/main/java/org/bmsource/dwh/importer/ImporterConfiguration.java
  importer/src/main/java/org/bmsource/dwh/masterdata/MasterDataServiceImpl.java
  importer/src/main/java/org/bmsource/dwh/masterdata/web/MasterDataController.java
  importer/src/main/resources/application.yml
  importer/src/test/java/org/bmsource/dwh/charts/ChartControllerIT.java
  importer/src/test/java/org/bmsource/dwh/charts/QueryGeneratorTest.java
  importer/src/test/java/org/bmsource/dwh/importer/web/ImportControllerIT.java
  importer/src/test/java/org/bmsource/dwh/masterdata/web/MasterDataControllerTest.java
  importer/src/test/resources/batch_clean_up.sql
  react-app/src/components/context/AppContext.js
  react-app/src/components/pages/Settings.js
  react-app/src/shared/utils/httpRequest.js
Due: java, react-app

DWH-17: Auto column width
  react-app/src/components/common/Grid.css
  react-app/src/components/common/Grid.js
  react-app/src/components/pages/categories/DataPreview.js
Due: react-app

DWH-17: Multitenancy tests working
  common/src/main/resources/logback.xml
  common/src/test/java/org/bmsource/dwh/common/multitenancy/MultitenancyIT.java
  common/src/test/java/org/bmsource/dwh/common/multitenancy/app/Person.java
  common/src/test/java/org/bmsource/dwh/common/multitenancy/app/PersonRepository.java
  common/src/test/java/org/bmsource/dwh/common/multitenancy/app/TestApplication.java
  common/src/test/resources/application.yml
  common/src/test/resources/multitenancy-before-script.sql
Due: java

DWH-17: Change rest endpoints
  common/src/main/java/org/bmsource/dwh/common/appstate/AppStateController.java
  common/src/main/java/org/bmsource/dwh/common/job/step/CleanUpTasklet.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/TenantContext.java
  common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/TenantContextInterceptor.java
  importer/src/main/java/org/bmsource/dwh/charts/ChartController.java
  importer/src/main/java/org/bmsource/dwh/charts/ChartsExceptionHandler.java
  importer/src/main/java/org/bmsource/dwh/charts/TenantKeyGenerator.java
  importer/src/main/java/org/bmsource/dwh/charts/TenantRequestContext.java
  importer/src/main/java/org/bmsource/dwh/charts/TenantRequestFilter.java
  importer/src/main/java/org/bmsource/dwh/domain/repository/FactRawRepository.java
  importer/src/main/java/org/bmsource/dwh/domain/repository/FactRepository.java
  importer/src/main/java/org/bmsource/dwh/importer/ImporterConfiguration.java
  importer/src/main/java/org/bmsource/dwh/importer/web/ImportController.java
  importer/src/main/java/org/bmsource/dwh/masterdata/MasterDataServiceImpl.java
  importer/src/test/java/org/bmsource/dwh/charts/ChartControllerIT.java
  importer/src/test/java/org/bmsource/dwh/importer/web/ImportControllerIT.java
  importer/src/test/resources/spends.sql
  migrator/src/main/java/org/bmsource/dwh/migrator/Migrator.java
  migrator/src/main/resources/migration/tenant/V2019.11.04.20.00__DWH-11-mapping-preset.sql
  migrator/src/main/resources/migration/tenant/V2019.11.25.22.07__DWH-11-fact.sql
  react-app/src/shared/api/appState.api.js
Due: java, react-app

DWH-17: Fix pom dependency
  .gitlab-ci.yml
  app-migrator/pom.xml
Due: none

DWH-17: Fix pom dependency
  README.md
Due: none

DWH-17: Fix pom dependency
  .gitlab-ci.yml
Due: none

DWH-17: Fix frontend test
  react-app/src/components/common/import/FileUpload.spec.js
  react-app/src/components/common/import/Import.spec.js
Due: react-app

DWH-17: Fix gitlab migrations
  .dev/script
  .gitlab-ci.yml
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorApplication.java
Due: none

DWH-17: Fix gitlab migrations
  .dev/script
  .gitlab-ci.yml
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorApplication.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorConfiguration.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/TestUtils.java
  app-migrator/src/main/resources/application.yml
  docker-compose.local.yml
  lib-common/src/main/java/org/bmsource/dwh/common/multitenancy/Multitenancy.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/PortalConfig.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/PortalConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/ProjectRepository.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/Tenant.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/TenantRepository.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/TenantRepositoryImpl.java
Due: none

DWH-17: Fix gitlab codecov
  .gitlab-ci.yml
  .travis.yml
  codecov.yml
Due: none

DWH-17: Fix gitlab codecov
  .gitlab-ci.yml
Due: none

DWH-17: Fixed /me security endpoint
  app-security/src/main/java/org/bmsource/dwh/security/ResourceServerConfig.java
  app-security/src/main/java/org/bmsource/dwh/security/SecurityConfig.java
  app-security/src/main/java/org/bmsource/dwh/security/SecurityController.java
  app-security/src/test/java/org/bmsource/dwh/security/SecurityIT.java
  lib-common/src/main/java/org/bmsource/dwh/common/security/client/GlobalSecurityConfiguration.java
Due: none
