Repository marecica2/dwh-datacube: changes, and which Codecov flags are due for each by the changed paths.
All: java, reactapp

codecov.yml:

coverage:
  status:
    project:
      default: off
      java:
        flags: java
        target: 70%
      reactapp:
        flags: reactapp
        target: 70%
flags:
  java:
    paths:
      - lib-common/src
      - app-gateway/src
      - app-importer/src
      - app-migrator/src
      - app-olap/src
  reactapp:
    paths:
      - react-app/src

DWH-17: Fix schema migration
  app-migrator/src/main/java/org/bmsource/dwh/migrator/Migrator.java
Due: java

DWH-17: Tenant api backend
  .db/init.sql
  app-migrator/src/main/resources/migration/master/V2020.17.03.10.23__DWH-17-tenant.sql
  app-security/src/main/java/org/bmsource/dwh/security/SecurityApplication.java
  app-security/src/main/java/org/bmsource/dwh/security/SecurityConfiguration.java
  app-security/src/main/java/org/bmsource/dwh/security/SecurityController.java
  app-security/src/main/java/org/bmsource/dwh/security/SecurityExceptionHandler.java
  app-security/src/main/java/org/bmsource/dwh/security/UserServiceImpl.java
  app-security/src/main/java/org/bmsource/dwh/security/model/User.java
  app-security/src/main/java/org/bmsource/dwh/security/model/UserDto.java
  app-security/src/main/java/org/bmsource/dwh/security/repository/RoleRepository.java
  app-security/src/main/java/org/bmsource/dwh/security/repository/UserRepository.java
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/AppStateConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/ProjectRepository.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/Tenant.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/TenantRepository.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/TenantRepositoryImpl.java
  web-portal/src/app/app-routing.module.ts
  web-portal/src/app/app.module.ts
  web-portal/src/app/components/apps/apps.component.css
  web-portal/src/app/components/apps/apps.component.html
  web-portal/src/app/components/apps/apps.component.spec.ts
  web-portal/src/app/components/apps/apps.component.ts
  web-portal/src/app/components/tenant/tenant.component.html
  web-portal/src/app/components/tenant/tenant.component.ts
  web-portal/src/app/components/tenant/tenant.model.ts
  web-portal/src/app/components/tenant/tenant.service.ts
  web-portal/src/app/shared/auth.interceptor.ts
  web-portal/src/app/shared/auth.service.ts
Due: java

DWH-17: Repackage importer module
  app-importer/src/main/java/org/bmsource/dwh/importer/ImporterAppConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/ImporterApplication.java
  app-importer/src/main/java/org/bmsource/dwh/importer/ImporterWebSecurityConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/ImporterConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/MappingPreset.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/MappingPresetRepository.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/ImportController.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/MappingRequestBody.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/MappingResponse.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/MappingResult.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/PreviewRequestBody.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/PreviewResponse.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/UploadRequestBody.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataController.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataRepositoryConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataService.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataServiceImpl.java
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/ImportControllerIT.java
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/MappingResponseTest.java
  app-importer/src/test/java/org/bmsource/dwh/importer/masterdata/web/MasterDataControllerTest.java
  lib-common/src/main/java/org/bmsource/dwh/common/masterdata/MasterDataConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/utils/IntegrationTestUtils.java
Due: java

DWH-17: Fix local nginx
  .dev/nginx.local.conf
  docker-compose.yml
  react-app/package.json
  react-app/public/index.html
  web-portal/.editorconfig
  web-portal/.gitignore
  web-portal/README.md
  web-portal/angular.json
  web-portal/browserslist
  web-portal/e2e/protractor.conf.js
  web-portal/e2e/src/app.e2e-spec.ts
  web-portal/e2e/src/app.po.ts
  web-portal/e2e/tsconfig.json
  web-portal/karma.conf.js
  web-portal/package.json
  web-portal/src/app/app-routing.module.ts
  web-portal/src/app/app.component.css
  web-portal/src/app/app.component.html
  web-portal/src/app/app.component.spec.ts
  web-portal/src/app/app.component.ts
  web-portal/src/app/app.module.ts
  web-portal/src/assets/.gitkeep
  web-portal/src/environments/environment.prod.ts
  web-portal/src/environments/environment.ts
  web-portal/src/favicon.ico
  web-portal/src/index.html
  web-portal/src/main.ts
  web-portal/src/polyfills.ts
  web-portal/src/styles.css
  web-portal/src/test.ts
  web-portal/tsconfig.app.json
  web-portal/tsconfig.json
  web-portal/tsconfig.spec.json
  web-portal/tslint.json
  web-portal/yarn.lock
Due: none

DWH-17: Change login redirect
  react-app/src/settings.js
Due: reactapp

DWH-17: Angular auth app
  web-portal/angular.json
  web-portal/package-lock.json
  web-portal/package.json
  web-portal/src/app/angular-material.module.ts
  web-portal/src/app/app-routing.module.ts
  web-portal/src/app/app.component.html
  web-portal/src/app/app.module.ts
  web-portal/src/app/components/log-in/log-in.component.css
  web-portal/src/app/components/log-in/log-in.component.html
  web-portal/src/app/components/log-in/log-in.component.spec.ts
  web-portal/src/app/components/log-in/log-in.component.ts
  web-portal/src/app/components/log-in/login.service.spec.ts
  web-portal/src/app/components/log-in/login.service.ts
  web-portal/src/app/components/register/register.component.css
  web-portal/src/app/components/register/register.component.html
  web-portal/src/app/components/register/register.component.spec.ts
  web-portal/src/app/components/register/register.component.ts
  web-portal/src/app/components/tenant/tenant.component.css
  web-portal/src/app/components/tenant/tenant.component.html
  web-portal/src/app/components/tenant/tenant.component.spec.ts
  web-portal/src/app/components/tenant/tenant.component.ts
  web-portal/src/app/user.model.ts
  web-portal/src/index.html
  web-portal/src/styles.css
  web-portal/yarn.lock
Due: none

DWH-17: Add projectId to fact
  lib-common/src/main/java/org/bmsource/dwh/common/BaseFact.java
  lib-common/src/main/java/org/bmsource/dwh/common/courier/RawFact.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/JobConfiguration.java
Due: java

DWH-17: Add more tests
  app-portal/pom.xml
  app-portal/src/main/java/org/bmsource/dwh/portal/sse/SseEmitterServiceImpl.java
  app-portal/src/test/java/org/bmsource/dwh/portal/appstate/AppStateControllerIT.java
  app-portal/src/test/java/org/bmsource/dwh/portal/sse/SseEmitterImplTest.java
  pom.xml
Due: none

DWH-17: Refactor appState to separate service
  .dev/nginx.local.conf
  .env
  .env.ci
  .env.ci.gitlab
  .env.local
  app-importer/src/main/java/org/bmsource/dwh/importer/ImporterApplication.java
  app-importer/src/main/resources/application.yml
  app-olap/src/main/resources/application.yml
  app-olap/src/test/java/org/bmsource/dwh/olap/charts/ChartControllerIT.java
  app-portal/pom.xml
  app-portal/src/main/java/org/bmsource/dwh/portal/PortalApplication.java
  app-portal/src/main/java/org/bmsource/dwh/portal/PortalConfig.java
  app-portal/src/main/java/org/bmsource/dwh/portal/appstate/AppStateController.java
  app-portal/src/main/java/org/bmsource/dwh/portal/appstate/AppStateListener.java
  app-portal/src/main/java/org/bmsource/dwh/portal/appstate/RedisAppStateConfiguration.java
  app-portal/src/main/java/org/bmsource/dwh/portal/sse/SseEmitterService.java
  app-portal/src/main/java/org/bmsource/dwh/portal/sse/SseEmitterServiceImpl.java
  app-portal/src/main/java/org/bmsource/dwh/portal/tenants/TenantRep.java
  app-portal/src/main/resources/application.yml
  app-portal/src/main/resources/logback.xml
  app-portal/src/test/java/org/bmsource/dwh/portal/appstate/AppStateControllerIT.java
  app-portal/src/test/java/org/bmsource/dwh/portal/appstate/SseTestClient.java
  app-security/src/main/resources/application.yml
  docker-compose.yml
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/AppState.java
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/RedisAppStateService.java
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/client/AppStateService.java
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/client/EnableAppState.java
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/client/RedisAppStateService.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/JobConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/JobService.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/step/importer/ImportStepConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/Tenant.java
  lib-common/src/main/java/org/bmsource/dwh/common/utils/IntegrationTestUtils.java
  lib-common/src/test/java/org/bmsource/dwh/common/job/ImporterConfiguration.java
  react-app/src/shared/api/appState.api.js
Due: java, reactapp

DWH-17: Angular skeleton
  web-admin/.editorconfig
  web-admin/.gitignore
  web-admin/README.md
  web-admin/angular.json
  web-admin/browserslist
  web-admin/e2e/protractor.conf.js
  web-admin/e2e/src/app.e2e-spec.ts
  web-admin/e2e/src/app.po.ts
  web-admin/e2e/tsconfig.json
  web-admin/karma.conf.js
  web-admin/package.json
  web-admin/src/app/app-routing.module.ts
  web-admin/src/app/app.component.css
  web-admin/src/app/app.component.html
  web-admin/src/app/app.component.spec.ts
  web-admin/src/app/app.component.ts
  web-admin/src/app/app.module.ts
  web-admin/src/assets/.gitkeep
  web-admin/src/environments/environment.prod.ts
  web-admin/src/environments/environment.ts
  web-admin/src/favicon.ico
  web-admin/src/index.html
  web-admin/src/main.ts
  web-admin/src/polyfills.ts
  web-admin/src/styles.css
  web-admin/src/test.ts
  web-admin/tsconfig.app.json
  web-admin/tsconfig.json
  web-admin/tsconfig.spec.json
  web-admin/tslint.json
  web-admin/yarn.lock
Due: none

DWH-17: Rename packages
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/ImportController.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataController.java
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/ImportControllerIT.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/DataRow.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/BatchHandler.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/BatchReader.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/DataReader.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/ExcelBatchReader.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/ExcelBeanReader.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/ExcelReader.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/ExcelReaderHandler.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/ExcelRowMapper.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/ExcelRowValidator.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/reader/GenericExcelReader.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/writer/DataWriter.java
  lib-common/src/main/java/org/bmsource/dwh/common/excel/writer/ExcelWriter.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/step/importer/CompositeImportItemWriter.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/step/importer/ExcelItemReader.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/step/importer/ExcelItemWriter.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/step/importer/ImportStepConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/utils/IntegrationTestUtils.java
  lib-common/src/test/java/org/bmsource/dwh/common/excel/reader/ExcelBatchReaderTest.java
  lib-common/src/test/java/org/bmsource/dwh/common/excel/reader/ExcelBeanReaderTest.java
  lib-common/src/test/java/org/bmsource/dwh/common/excel/reader/ExcelReaderTest.java
  lib-common/src/test/java/org/bmsource/dwh/common/excel/reader/ExcelRowMapperTest.java
  lib-common/src/test/java/org/bmsource/dwh/common/excel/writer/ExcelWriterTest.java
Due: java

DWH-17: Fix cycles in DI
  app-gateway/src/main/java/org/bmsource/dwh/gateway/GatewayApplication.java
  app-gateway/src/main/resources/application.yml
  app-importer/src/main/java/org/bmsource/dwh/importer/ImporterApplication.java
  app-importer/src/main/resources/logback.xml
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/ImportControllerIT.java
  app-olap/src/main/java/org/bmsource/dwh/olap/OlapApplication.java
  app-olap/src/main/resources/application.yml
  app-portal/pom.xml
  app-portal/src/main/java/org/bmsource/dwh/portal/PortalApplication.java
  app-portal/src/main/resources/application.yml
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/AppStateConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/AppStateService.java
  lib-common/src/main/java/org/bmsource/dwh/common/appstate/RedisAppStateService.java
  lib-common/src/main/java/org/bmsource/dwh/common/courier/CourierConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/JdbcJobRepository.java
  lib-common/src/main/java/org/bmsource/dwh/common/job/JobConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/multitenancy/Multitenancy.java
  lib-common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/DefaultDataSourceConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/MultitenancyConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/TenantContextInterceptor.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/TenantDao.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/TenantRepository.java
  lib-common/src/main/java/org/bmsource/dwh/common/portal/TenantRepositoryImpl.java
  lib-common/src/test/java/org/bmsource/dwh/common/job/ImporterConfiguration.java
  lib-common/src/test/java/org/bmsource/dwh/common/job/JobServiceIT.java
  lib-common/src/test/java/org/bmsource/dwh/common/multitenancy/MultitenancyIT.java
  lib-common/src/test/resources/multitenancy-before-script.sql
  lib-courier-services/pom.xml
  pom.xml
Due: java

DWH-17: Tenant selection
  web-portal/src/app/app.component.html
  web-portal/src/app/app.module.ts
  web-portal/src/app/components/header/header.component.css
  web-portal/src/app/components/header/header.component.html
  web-portal/src/app/components/header/header.component.ts
  web-portal/src/app/components/log-in/log-in.component.html
  web-portal/src/app/components/log-in/log-in.component.ts
  web-portal/src/app/components/log-in/login.service.spec.ts
  web-portal/src/app/components/tenant/tenant.component.html
  web-portal/src/app/components/tenant/tenant.component.ts
  web-portal/src/app/components/tenant/tenant.service.ts
  web-portal/src/app/shared/auth.interceptor.ts
  web-portal/src/app/shared/auth.service.ts
  web-portal/src/app/shared/tenant.model.ts
  web-portal/src/app/shared/user.model.ts
  web-portal/src/styles.css
Due: none

DWH-17: Add redis config
  app-migrator/src/main/resources/application.yml
  app-security/src/main/resources/application.yml
Due: java

DWH-17: Rename packages
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/ImportControllerIT.java
Due: java

DWH-17: Change migrator to service instead of cli
  .dev/script
  .env
  .env.ci
  .env.ci.gitlab
  .env.local
  .gitlab-ci.yml
  app-importer/pom.xml
  app-migrator/Dockerfile
  app-migrator/pom.xml
  app-migrator/src/main/java/org/bmsource/dwh/migrator/Migrator.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorCliApplication.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorConfiguration.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorController.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/TestUtils.java
  app-migrator/src/main/resources/application.yml
  app-migrator/src/main/resources/migration/master/V2020.07.03.22.10__DWH-14-security-schema.ignore
  app-migrator/src/main/resources/migration/master/V2020.17.03.10.23__DWH-17-tenant.ignore
  app-migrator/src/test/java/org/bmsource/dwh/migrator/MigratorIT.java
  app-migrator/src/test/java/org/bmsource/dwh/migrator/TenantRepositoryImpl.java
  codecov.yml
  lib-common/src/test/java/org/bmsource/dwh/common/multitenancy/MultitenancyIT.java
  lib-common/src/test/resources/multitenancy-after-script.sql
  lib-common/src/test/resources/multitenancy-before-script.sql
Due: java

DWH-17: Change migrator to service instead of cli
  .gitlab-ci.yml
Due: none

DWH-17: Change migrator to service instead of cli
  app-migrator/src/main/java/org/bmsource/dwh/migrator/Migrator.java
Due: java

DWH-17: Rename tenant schemas
  .db/init.sql
  app-importer/src/main/resources/application.yml
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/ImportControllerIT.java
  app-importer/src/test/java/org/bmsource/dwh/importer/masterdata/web/MasterDataControllerTest.java
  app-importer/src/test/resources/batch_clean_up.sql
  app-olap/src/main/resources/application.yml
  app-olap/src/test/java/org/bmsource/dwh/olap/charts/ChartControllerIT.java
  app-olap/src/test/java/org/bmsource/dwh/olap/charts/QueryGeneratorTest.java
  app-olap/src/test/resources/clean-up.sql
  app-olap/src/test/resources/spends.sql
  lib-common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/MultitenancyConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/multitenancy/impl/TenantContextInterceptor.java
  lib-common/src/main/java/org/bmsource/dwh/common/utils/TestUtils.java
  lib-common/src/test/resources/multitenancy-after-script.sql
  lib-common/src/test/resources/multitenancy-before-script.sql
  react-app/src/components/context/AppContext.js
Due: java, reactapp

DWH-17: Fix tests
  app-importer/pom.xml
  app-importer/src/main/resources/application.yml
  app-importer/src/main/resources/logback.xml
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorApplication.java
  app-migrator/src/main/resources/application.yml
  app-migrator/src/test/java/org/bmsource/dwh/migrator/MigratorIT.java
  app-olap/pom.xml
  app-olap/src/main/resources/application.yml
  app-olap/src/main/resources/logback.xml
  app-portal/pom.xml
  app-portal/src/main/resources/application.yml
  app-security/pom.xml
  app-security/src/main/resources/application.yml
  app-security/src/main/resources/logback.xml
  app-security/src/test/java/org/bmsource/dwh/security/SecurityIT.java
  app-security/src/test/resources/test_setup.sql
  app-security/src/test/resources/test_teardown.sql
  lib-common/src/main/java/org/bmsource/dwh/common/portal/Tenant.java
  lib-common/src/main/java/org/bmsource/dwh/common/utils/IntegrationTestUtils.java
  lib-common/src/main/resources/logback.xml
  lib-common/src/test/resources/multitenancy-after-script.sql
  lib-common/src/test/resources/multitenancy-before-script.sql
Due: java

DWH-17: Update codecov
  .gitlab-ci.yml
  README.md
  codecov.yml
Due: none

DWH-17: Update readme
  README.md
Due: none

DWH-17: Update Importer tests
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/MappingPreset.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/MappingRequestBody.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/PreviewResponse.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/UploadRequestBody.java
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/ImportControllerIT.java
  app-importer/src/test/java/org/bmsource/dwh/importer/masterdata/web/MasterDataControllerTest.java
  app-importer/src/test/resources/zipcode_locations.xlsx
  lib-common/src/main/java/org/bmsource/dwh/common/masterdata/model/ZipCodeLocation.java
Due: java

DWH-17: Update Codecov
  codecov.yml
Due: none

DWH-17: Add more migrator tests
  .gitlab-ci.yml
  README.md
  app-migrator/pom.xml
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorApplication.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorCliApplication.java
  app-migrator/src/main/java/org/bmsource/dwh/migrator/MigratorController.java
  app-migrator/src/test/java/org/bmsource/dwh/migrator/MigratorControllerTest.java
  lib-common/pom.xml
Due: java

DWH-18: Repackage courier classes
  app-importer/pom.xml
  app-importer/src/main/java/org/bmsource/dwh/importer/ImporterAppConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/ImporterApplication.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/ImporterConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/ImportController.java
  app-importer/src/main/java/org/bmsource/dwh/importer/importer/web/PreviewResponse.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataController.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataRepositoryConfiguration.java
  app-importer/src/main/java/org/bmsource/dwh/importer/masterdata/MasterDataServiceImpl.java
  app-importer/src/test/java/org/bmsource/dwh/TestSuite.java
  app-importer/src/test/java/org/bmsource/dwh/importer/ImportApiIT.java
  app-importer/src/test/java/org/bmsource/dwh/importer/IntegrationTestUtils.java
  app-importer/src/test/java/org/bmsource/dwh/importer/importer/web/MappingResponseTest.java
  app-olap/pom.xml
  app-olap/src/main/java/org/bmsource/dwh/olap/OlapApplication.java
  app-olap/src/main/java/org/bmsource/dwh/olap/OlapConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/masterdata/MasterDataConfiguration.java
  lib-common/src/main/java/org/bmsource/dwh/common/utils/IntegrationTestUtils.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/CourierConfiguration.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/Fact.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/FactRawRepository.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/FactRepository.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/RawFact.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/MasterDataNormalizer.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/model/RateCard.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/model/ServiceTypeMapping.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/model/Taxonomy.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/model/ZipCodeLocation.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/repository/RateCardRepository.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/repository/ServiceTypeMappingRepository.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/repository/TaxonomyRepository.java
  lib-courier-services/src/main/java/org/bmsource/dwh/courier/masterdata/repository/ZipCodeLocationRepository.java
Due: java

DWH-18: Rename react-app
  .aws/cloudformation.yaml
  .dev/script
  .gitlab-ci.yml
  .k8s/ingress-service.yaml
  .k8s/react-app-cluster-ip-service.yml
  .k8s/react-app-deployment.yml
  .travis.yml
  deploy.sh
  docker-compose.local.yml
  docker-compose.yml
  web-dwh/README.md
  web-dwh/public/index.html
Due: none

DWH-18: Jacoco offline instrumentation
  pom.xml
Due: none

DWH-18: Disable frontend coverage
  .gitlab-ci.yml
  codecov.yml
Due: none
